// bower:scss
// endbower

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
    margin:0px;
    padding: 0px;
    background: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    background-size: cover;
    border-bottom: 1px solid #bdc3c7;
}

.logo {
    margin-top: 10px;
    margin-left: 50%;
}

.container {
    position: relative;
    width: 100%;
}

.detail-container {
    position: absolute;
    width: 25%;
    // height: 600px;
    top: 20px;
    left: 20px;
    // border: 1px solid #acacac;
    display: inline-block;
}

.thumbnails-container {
    position: absolute;
    vertical-align: top;
    width: 70%;
    height: 600px;
    top: 20px;
    right: 20px;
    overflow-y: scroll;
    border: 1px solid #bdc3c7;
    display: inline-block;
}

.detail-view {
    border: 1px solid #bdc3c7;
    width: 100%;
    height: 600px;
    padding: 20px;
    // padding: 10px 20px 0 20px;

    img {
        width: 100%;
        // height: 207px;
        padding: 4px;
        border: 1px solid #bdc3c7;
    }

    // .save-button {
    //     height: 35px;
    //     background: pink;
    //     color: white;
    //     border: 1px solid red;
    //     font-size: 20px;
    //     box-shadow: inset 0 0 0 1px white;
    //     cursor: pointer;
    //     padding: 10px 30px;
    //     display: inline-block;
    // }

    // .new-button {
    //     background: purple;
    //     color: white;
    //     border: 1px solid green;
    //     font-size: 20px;
    //     box-shadow: inset 0 0 0 1px white;
    //     cursor: pointer;
    //     padding: 10px 30px;
    //     display: inline-block;
    // }
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

// .input-view {
//     position: relative;
//     width: 314px;
//     height: 200px;
//     // border: 1px solid green;
// }

input {
    float: left;
    width: 200px;
    height: 35px;
    top: 5px;
    left: 0;
    color: #014b96;
    margin-top: 5px;
    padding: 6px 6px 6px 10px;
    font-size: 12px;
    border-top-style: none;
    border: 1px solid #bdc3c7;
    display: inline-block;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}

.save-button {
    float: right;
    height: 35px;
    width: 104px;
    margin-top: 5px;
    // right: 0;
    background: #014b96;
    // box-shadow: inset 0 0 0 1px #014b96;
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 34px;
    display: inline-block;

    &:hover {
        background: #d0043c;
        color: white;
        box-shadow: none;
    }
}

.new-button {
    float: right;
    height: 35px;
    width: 104px;
    margin-top: 5px;
    // right: 0;
    background: green;
    // box-shadow: inset 0 0 0 1px #014b96;
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 34px;
    display: inline-block;

    &:hover {
        background: #d0043c;
        color: white;
        box-shadow: none;
    }
}

.delete-button {
    height: 35px;
    width: 150px;
    margin-top: 20px;
    margin-left: 25%;
    // right: 0;
    background: #d0043c;
    // box-shadow: inset 0 0 0 1px #014b96;
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 10px 10px 16px;
    display: inline-block;

    &:hover {
        background: #014b96;
        color: white;
        box-shadow: none;
    }
}

.thumbnail {
    // margin: 5px 5px 5px 5px;
    margin-left: 11px;
    margin-top: 11px;
    position: relative;
    display: inline-block;
    -webkit-box-shadow: inset 0px 0px 1px 0px rgba(50, 50, 50, 0);
    -moz-box-shadow:    inset 0px 0px 1px 0px rgba(50, 50, 50, 0);
    box-shadow:         inset 0px 0px 1px 0px rgba(50, 50, 50, 0);

    img {
        width: 185px;
        height: 135px;
        padding: 4px;
        border: 1px solid #bdc3c7;
    }
}